<h1>Item List</h1>

<p>PCAP Items List</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table' *ngIf="items">
    <thead>
        <tr>
            <th>ItemId</th>
            <th>Name</th>
            <th>Description</th>
            <th>Weight</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of items">
            <td>{{ c.itemId}}</td>
            <td>{{ c.name}}</td>
            <td>{{ c.description}}</td>
            <td>{{ c.weight}}</td>
        </tr>
    </tbody>
</table>